body
{
    background-color: #002ca5;
}

.blueScreen
{
    color: white;
    font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
}

a
{
    color: white;
}

.textDiv
{
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    width: 55%;
}