body {
	margin: 0;
}

pre {
	margin: 0px;
}

.headerBannerImage {
	width: 100%;

	-webkit-user-select: none;
	user-select: none;
}

.headerSprite {
	vertical-align: middle;
	margin-right: 10px;
	width: 48px;

	-webkit-user-select: none;
	user-select: none;
}

.centeredDiv {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bannerText {
	font-size: 3em;
	height: 100%;
}

.sidebarHeader {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.sidebarHeader:after {
	content: '';
	border-top: 2px solid;
	color: gray;
	flex: 1 0 8px;

	margin: 0 0 0 8px;
}

.error {
	background-color: #8d0d0d;
}

.message {
	background-color: #003a99;
}

.warning {
	background-color: #af8811;
}

.container {
	position: relative;
	text-align: center;
	color: white;
	margin-bottom: 5px;
}

.bottom-left {
	position: absolute;
	bottom: 18px;
	left: 16px;
}

.flexSizeOverride {
	min-width: 0;
	min-height: 0;
}

.inlineCenteredText {
	display: inline;
	-webkit-font-smoothing: none;
}

.marginBlocks {
	margin-block-start: 1em;
	margin-block-end: 1em;
}

.disableFiltering {
	image-rendering: pixelated;
}

.messageBox {
	position: fixed;
	background-image: url(/Resources/darkbackgroundtiled.png);
	background-repeat: space;
	image-rendering: pixelated;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: 100;
}

.oldWebRow {
	justify-content: flex-start;
	flex: 0 1 auto;
}

.oldWebRow > a {
	min-width: 0;
	min-height: 0;

	-webkit-user-select: none;
	user-select: none;
}

.sideBarBottom {
	width: 100%;
	min-width: 100%;

	justify-content: right;
	flex: 0 1 auto;
}

.sideBarBottom > a {
	display: flex;

	-webkit-user-select: none;
	user-select: none;
}