html {
	height: 100%;
	width: 100%;
}

body{
	color: #ffffff;
	background: #008080;
	padding: 5px;
}

.containerBanner {
    margin-bottom: 5px;
	height: auto;
	width: auto;
}

.containerFrontpageHeader {
	height: 21.6px;

	border-top:5px solid #DEE4E4;
    border-bottom:5px solid #767E83;
    border-left:5px solid #DEE4E4;
    border-right:5px solid #767E83;

	background-color: #C0C0C0;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;

	margin-bottom: 5px;

	position: relative;
}

.frontpageContainer {
	padding: 0px;
	width: 100%;
	height: 100%;
}

.containerFrontpageContent {
	width: auto;
	height: 100%;
	margin-right: 5px;
	float: left;
}

.containerFrontpageSidebar {
	width: auto;
	height: 100%;
	float: left;
}

.iframeClass {
	width: 100%;
	height: 100%;
	display: block;
	border: none;
}

.frontpageLabel {
	margin-right: 20px;
	position: relative;
	vertical-align: middle;
}

.frontpageTSSLabel {
	position: relative;
	vertical-align: middle;
}

.imgBanner {
    width: 100%;
    height: 100%;
}