h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.container {
	text-align: center;
}

html {
	height: 100%;
	width: 100%;
}

body{
	color: #ffffff;
	background: #008080;
	font-size: 20px;
	margin: 32px;
}