body {
    background-color: #008080;
}

.postsSprite {
    content: url("./Icons/98/wordpad.png");
}

.projectsSprite {
    content: url("./Icons/98/worlddirectories.png");
}

.aboutSprite {
    content: url("./Icons/98/help.png");
}