body {
    background-color: #396ba5;
}

.postsSprite {
    content: url("/Resources/Icons/XP/wordpad.png");
}

.projectsSprite {
    content: url("/Resources/Icons/XP/worlddirectories.png");
}

.aboutSprite {
    content: url("/Resources/Icons/XP/help.png");
}