body {
    background-color: #396ba5;
}

.postsSprite {
    content: url("./Icons/XP/wordpad.png");
}

.projectsSprite {
    content: url("./Icons/XP/worlddirectories.png");
}

.aboutSprite {
    content: url("./Icons/XP/help.png");
}