body {
    background-color: #008080;
}

.postsSprite {
    content: url("/Resources/Icons/98/wordpad.png");
}

.projectsSprite {
    content: url("/Resources/Icons/98/worlddirectories.png");
}

.aboutSprite {
    content: url("/Resources/Icons/98/help.png");
}

.msgErrorSprite {
    content: url("/Resources/Icons/98/MessageBox/error.png")
}