@media only screen and (min-width: 1275px)
{
	body
	{
		margin: 100px 0 100px 0;

		align-items: center;
	}

	body > *
	{
		max-width: 1200px;
	}

	.mainBodyDiv
	{
		flex-direction: row-reverse;
	}

	.bodyContent
	{
		font-size: 1em;

		padding: 25px;
	}

	.bodyContent > h1
	{
		font-size: 2em;
	}

	.bodyContent > h1:first-of-type
	{
		margin-top: 5px;
	}

	.bodyContent img
	{
		width: auto;
	}

	.separatorDiv
	{
		margin-top: 15px;
		margin-bottom: 15px;

		min-height: 1px;
	}

	.postInformation
	{
		margin-top: -8px;
	}

	.postInformationBullet
	{
		bottom: 0.05em;

		margin-right: 4px;
		margin-left: 4px;
	}

	.postInformationBullet:after
	{
		content: "\2022";

		position: relative;
	}
}
