@media only screen and (min-width: 1135px)
{
	body
	{
		margin: 100px 0 100px 0;

		background-image: var(--body-wallpaper);
		background-size: cover;

		align-items: center;
	}

	body > *
	{
		max-width: var(--computer-max-width);
	}

	.mainBodyDiv
	{
		border-right: solid 2px var(--navbar-border-color);
		border-left: solid 2px var(--navbar-border-color);
		border-bottom: solid 2px var(--navbar-border-color);

		flex-direction: row-reverse;
	}

	.bodyContent
	{
		font-size: 1em;

		max-width: calc(var(--computer-max-width) - var(--sidebar-width) - 4px);

		padding: 25px;
	}

	.bodyContent > h1
	{
		font-size: 2em;
	}

	.bodyContent > h1:first-of-type
	{
		margin-top: 5px;
	}

	.bodyContent img
	{
		width: auto;
	}

	.separatorDiv
	{
		margin-top: 15px;
		margin-bottom: 15px;

		min-height: 1px;
	}

	.postInformation
	{
		margin-top: -8px;
	}

	.postInformationBullet
	{
		bottom: 0.05em;

		margin-right: 4px;
		margin-left: 4px;
	}

	.postInformationBullet:after
	{
		content: "\2022";

		position: relative;
	}
}
