@media only screen and (min-width: 1000px)
{
	.topBar
	{
		padding: 20px;

		column-gap: 0;
	}

	.topBar > img
	{
		display: inline;

		margin-right: 40px;

		width: 96px;
		height: 96px;
	}

	.topBarText > p
	{
		margin-bottom: 12px;
	}

	.topBarTextTop
	{
		font-size: 2.5em;
	}

	.topBarTextBottom
	{
		display: block;
		font-size: 1.1em;
	}

	.topBarTextGradient
	{
		min-height: 4px;
		min-width: 125%;
	}

	.topBarBurger
	{
		display: none;
	}

	.sideBar
	{
		display: flex;

		position: static;

		max-width: 250px;
		min-width: 230px;

		border-bottom: none;
		box-shadow: none;

		font-size: 1em;

		padding: 10px;
		padding-top: 20px;
	}

	.sideBarSection
	{
		margin-top: 5px;
		margin-right: 15px;
		margin-left: 15px;
		margin-bottom: 5px;
	}

	.sideBarSection > ul:not(.fancyTreeview)
	{
		padding-left: 20px;
	}

	.sideBarCopyright
	{
		font-size: 0.8em;
	}

	.sideBarSocial
	{
		width: 100%;

		margin-top: 12px;
	}

	.sideBarSocialRss > img
	{
		width: 16px;
		height: 16px;

		vertical-align: -0.1em;
	}
}
