@media only screen and (min-width: 1275px)
{
	.topBar
	{
		background: var(--navbar-background);

		padding: 20px;

		column-gap: 0;
	}

	.topBar > img
	{
		display: inline;

		margin-right: 40px;

		width: 96px;
		height: 96px;
	}

	.topBarTextTop
	{
		font-size: 2.5em;
	}

	.topBarTextTop::after
	{
		content: none;
	}

	.topBarTextBottom
	{
		display: block;

		font-size: 1.1em;
	}

	.topBarTextBottom::after
	{
		display: block;
		content: '';

		margin-top: 12px;

		min-height: 4px;
		min-width: 115%;

		border-radius: 4px;

		background: linear-gradient(90deg, var(--navbar-gradient-start), transparent);
	}

	.topBarBurger
	{
		display: none;
	}

	.sideBar
	{
		display: flex;
		position: static;

		max-width: 282px;

		border-radius: 0;
		border-bottom: none;
		border-right: none;
		border-left: solid 2px var(--navbar-border-color);

		box-shadow: none;

		font-size: 1em;

		padding: 20px 10px 10px;
	}

	.sideBarSection
	{
		margin: 5px 15px;
	}

	.sideBarSection > ul:not(.fancyTreeview)
	{
		padding-left: 20px;
	}

	.sideBarSocial
	{
		width: 100%;

		margin-top: 12px;
	}

	.sideBarSocialRss > img
	{
		width: 16px;
		height: 16px;

		vertical-align: -0.1em;
	}
}
