@font-face {
	font-family: JetBrains-Mono;
	src: url(https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/fonts/webfonts/JetBrainsMono-Regular.woff2);
}

@font-face {
	font-family: JetBrains-Mono-Bold;
	src: url(https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/fonts/webfonts/JetBrainsMono-Bold.woff2);
}

@font-face {
	font-family: JetBrains-Mono-Thin;
	src: url(https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/fonts/webfonts/JetBrainsMono-Thin.woff2);
}