.field-row {
	display: flex;
	align-items: center
}

.field-row>*+* {
	margin-left: 6px
}

[class^=field-row]+[class^=field-row] {
	margin-top: 6px
}

.filterDisabled {
	image-rendering: pixelated;
}

.noSelect {
	user-select: none;
}

.boldText {
	font-family: 'JetBrains-Mono-Bold';
}

.thinText {
	font-family: 'JetBrains-Mono-Thin';
}

body {
	padding: 0;
	margin: 0;

	font-family: 'JetBrains-Mono';
	color: white;

	background-color: black;

	min-width: 800px;
}

p {
	margin-top: 12px;
	margin-bottom: 12px;
}

.headerText {
	font-size: 8em;

	margin: 0;
}

.subHeaderText {
	margin: 0;
}

.headerDiv {
	width: 100%;
	height: 100vh;

	min-height: 640px;

	background-image: url("Resources/backdrop.jpg");
	background-position: center center;
}

.acrylicSurface {
	backdrop-filter: blur(30px) saturate(125%);
	background-color: rgba(128, 128, 128, 0.1);
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;

	user-select: none;
}

.overlayDiv {
	height: 100%;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	align-items: center;
}

.separatorDiv {
	background-color: #291c28;

	height: 10px;
	min-height: 10px;
}

.navigationBarDiv {
	background-color: #291c28;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 25%;
	min-height: 25%;

	position: sticky;
	top: 0;

	transition: box-shadow 0.3s ease-in-out;
}

.navigationBarDiv.sticky {
	box-shadow: 0 5px 5px 0 rgb(0 0 0 / 49%);
}

.navigationBarLogo {
	margin-right: auto;
	margin-left: 10px;
	display: flex;

	opacity: 0;

	transition: opacity 0.5s ease-in-out;
}

.navigationBarLogo.shown {
	opacity: 1;
}

.navigationBarButton > button {
	height: 85px;
	min-height: 85px;

	width: 150px;
	min-width: 150px;

	font-family: "JetBrains-Mono-Bold";
	font-size: 1.1em;

	color: white;
	background-color: #291c28;

	transition-duration: 0.3s;
	border: none;
}

.navigationBarButton > button:hover {
	background-color: #4f364d;
}

.thinSeparatorDiv {
	background-color: #291c28;

	height: 5px;
	min-height: 5px;
}

.horizontalCenter {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
}

.bodyDiv {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #412c40;
}

.bodyContent {
	width: 85%;
}

.footerDiv {
	background-color: #362535;

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;

	display: flex;
	flex: 0 1 auto;
	justify-content: right;
	align-items: center;
}

.featuresDiv {
	display: flex;

	justify-content: center;
	align-items: stretch;
	align-content: center;

	flex-wrap: wrap;
	gap: 12px;

	width: 100%;

	margin-top: 10px;
	margin-bottom: 10px;
}

.featuresDiv > div {
	display: flex;
	flex-direction: column;
	text-align: center;

	background-color: #4f364d;

	max-width: 32%;
	width: 32%;

	border-radius: 8px;
	border-color: #755072;
	border-width: 2px;
	border-style: solid;

	box-shadow: 0 5px 5px 0 rgb(0 0 0 / 35%);
}

.featuresDiv > div > h1 {
	font-size: 4em;
	margin: 0;
}

.featuresDiv > div > h2 {
	margin: 0;
}