:root
{
	--title-background: white;
	--title-border: black;

	--sidebar-offset: 50%;
	--body-offset: 180px;
}

:root[data-applied-mode="light"]
{
	color-scheme: light;

	--body-background: #FFFFFF;
	--body-foreground: black;

	--title-gradient: linear-gradient(rgba(159, 221, 255, 0.5), rgba(159, 221, 255, 0.5));

	--thin-color: gray;

	--navbar-background: linear-gradient(var(--body-background), #E7E7E7);
	--navbar-gradient-start: #2F3279;
	--navbar-border-color: black;
	--navbar-link-color: #0000EE;
	--navbar-link-active: #FF0000;

	--sidebar-gradient: linear-gradient(rgba(183, 229, 255, 0.75), rgba(183, 229, 255, 0.75));

	--link-color: #0000EE;
	--link-active: #FF0000;
	--link-visited: #551A8B;

	--header-gradient-start: #008080;

	--button-border: black;
	--menu-button-filter: none;

	--separator-color: #000;

	--warning-background-color: lightyellow;
	--warning-border-color: orange;

	--important-background-color: #F1E0FF;
	--important-border-color: mediumpurple;

	--remarks-background-color: aliceblue;
	--remarks-border-color: cornflowerblue;
}

:root[data-applied-mode="dark"]
{
	color-scheme: dark;

	--body-background: #202020;
	--body-foreground: lightgray;

	--title-gradient: linear-gradient(rgba(80, 112, 129, 0.5), rgba(80, 112, 129, 0.5));

	--thin-color: gray;

	--navbar-background: linear-gradient(var(--body-background), var(--body-background));
	--navbar-gradient-start: #6494C3;
	--navbar-border-color: black;
	--navbar-link-color: #9B9BFF;
	--navbar-link-active: #FF8080;

	--sidebar-gradient: linear-gradient(rgba(208, 240, 255, 0.5), rgba(208, 240, 255, 0.5));

	--link-color: #9B9BFF;
	--link-active: #FF8080;
	--link-visited: #A669DE;

	--header-gradient-start: #009E9E;

	--button-border: black;
	--menu-button-filter: invert();

	--separator-color: #565656;

	--warning-background-color: #545428;
	--warning-border-color: orange;

	--important-background-color: #422E54;
	--important-border-color: mediumpurple;

	--remarks-background-color: #20405D;
	--remarks-border-color: cornflowerblue;
}
