:root
{
	--body-background: #FFFFFF;

	--thin-color: gray;

	--navbar-background: #FFFFFF;
	--navbar-gradient-start: #2F3279;
	--navbar-border-color: dimgray;

	--header-gradient-start: #008080;

	--button-border: black;

	--separator-color: lightgray;

	--warning-background-color: lightyellow;
	--warning-border-color: orange;

	--remarks-background-color: aliceblue;
	--remarks-border-color: cornflowerblue;
}