b
{
	font-family: Montserrat-Bold, serif;
	font-weight: bold;
}

@font-face
{
	font-family: Ortland-Regular;
	src: url("/resources/fonts/Ortland-Regular.woff2") format("woff2");
}

@font-face
{
	font-family: Montserrat-Regular;
	src: url("/resources/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face
{
	font-family: Montserrat-Bold;
	src: url("/resources/fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face
{
	font-family: Montserrat-Italic;
	src: url("/resources/fonts/Montserrat-Italic.woff2") format("woff2");
}

i
{
	font-family: Montserrat-Italic, serif;
}
