:root[data-applied-mode="light"]
{
	--github-icon: url("/resources/social/github.svg");
	--tumblr-icon: url("/resources/social/tumblr.svg");

	--external-link-icon: url("/resources/external-link-dark.svg");

	--menu-button-icon: url("/resources/menu.svg");
}

:root[data-applied-mode="dark"]
{
	--github-icon: url("/resources/social/github-light.svg");
	--tumblr-icon: url("/resources/social/tumblr-light.svg");

	--external-link-icon: url("/resources/external-link.svg");

	--menu-button-icon: url("/resources/menu-dark.svg");
}
