.field-row
{
	display: flex;
	align-items: center;
	column-gap: 6px;
}

[class^=field-row]+[class^=field-row]
{
	margin-top: 6px
}

b
{
	font-family: Merriweather-Bold;
}

i
{
	font-family: Merriweather-RegularItalic;
}

h1::after
{
	display: block;
	content: '';

	margin-top: 10px;

	min-height: 5px;
	min-width: 100%;

	background: linear-gradient(90deg, var(--header-gradient-start), var(--navbar-background));
}

.filterDisabled
{
	image-rendering: pixelated;
}

html
{
	height: 100%;
}

body
{
	margin: 0;

	display: flex;
	flex-direction: column;

	height: 100%;

	overflow-x: clip;

	color-scheme: light;
	background-color: var(--body-background);

	font-family: Merriweather-Regular;
}

.mainBodyDiv
{
	flex-wrap: wrap;
	align-content: flex-start;
	flex-grow: 1;

	column-gap: 0;
}

.innerBodyDiv
{
	width: 100%;
	height: 100%;

	align-items: stretch;

	column-gap: 0;
}

.bodyContent
{
	width: 100%;

	box-shadow: inset 4px 4px 6px 0px rgb(0 0 0 / 13%);
}

.bodyContent > h1:first-of-type
{
	margin-top: 10px;
}

.separatorDiv
{
	width: 95%;

	background-color: var(--separator-color);
}