.languagesContainer
{
	display: flex;
	flex-direction: row;
	column-gap: 16px;
	margin: 12px;
	align-items: center;
}

.languagesContainer > img
{
	object-fit: contain;
	width: 64px !important;
	height: 64px !important;
}

.languagesText
{
	display: flex;

	flex-direction: column;
	row-gap: 8px;

	justify-content: center;
}
