.listContainer
{
	margin-top: 1em;
	margin-bottom: 1em;

	border: 2px solid var(--thin-color);
	border-radius: 8px;
}

.listItem
{
	display: flex;

	flex-direction: row;
	column-gap: 16px;

	padding: 12px;

	align-items: center;

	&:not(:last-child)
	{
		border-bottom: 2px solid var(--thin-color);
	}

	& > img
	{
		object-fit: contain;

		width: 64px !important;
		height: 64px !important;
	}
}
