.topBar
{
	width: 100%;

	background-color: var(--navbar-background);

	padding: 20px;

	border-bottom: solid dimgray 1px;
	box-shadow: 0 0 12px 0 rgb(0 0 0 / 40%);
}

.topBar > img
{
	margin-right: 40px;

	width: 96px;
	height: 96px;
}

.topBarText
{
	flex-direction: column;
}

.topBarText > p
{
	font-family: Merriweather-BoldItalic;

	margin-top: 0;
	margin-bottom: 12px;
}

.topBarTextGradient
{
	min-height: 6px;
	min-width: 30vw;

	background: linear-gradient(90deg, var(--navbar-gradient-start), var(--navbar-background));
}