.topBar
{
	/* HACK HACK: use linear gradient to tint */
	background-image: var(--title-gradient), url("/resources/titlebackground.png");
	background-repeat: repeat;
	background-size: 64px 64px;

	animation: topBarBgAnim 1.5s linear infinite;

	border-bottom: solid 8px var(--navbar-border-color);
	transform: rotate(-6deg);

	width: 110vw;
	z-index: 9999;

	position: absolute;
}

.topBarText
{
	flex-direction: column;
}

.topBarText > p
{
	font-family: Ortland-Regular, serif;

	-webkit-user-select: none;
	user-select: none;

	margin-top: 0;
}

.topBarTextTop
{
	background: var(--title-background);
	background-clip: text;

	font-stretch: extra-expanded;
	letter-spacing: 2px;

	-webkit-text-fill-color: transparent;
}

.topBarTextBottom
{
	color: var(--title-border);
}

.sideBar
{
	align-items: stretch;

	/* HACK HACK: use linear gradient to tint */
	background-image: var(--sidebar-gradient), url("/resources/sidebarbackground.png");
	background-repeat: repeat;
	background-size: 64px 64px;

	animation: sideBarBgAnim 1.5s linear infinite;

	border-right: solid 8px var(--navbar-border-color);

	flex-direction: column;
}

.sideBar .separatorDiv
{
	align-self: center;
}

.sideBarSection
{
}

.sideBarSection > ul:not(.fancyTreeview)
{
	margin-bottom: 0;
}

.sideBarSection a
{
	color: var(--navbar-link-color);

	text-decoration: none;
}

.sideBarSection a:visited
{
	color: var(--navbar-link-color);
}

.sideBarSection a:hover
{
	color: var(--navbar-link-color);

	text-decoration: underline;
}

.sideBarSection a:active
{
	color: var(--navbar-link-active);
}

.sideBarCopyright
{
	color: var(--thin-color);

	margin-top: 0;
	margin-bottom: 0;
}

.sideBarSocial
{
	justify-content: space-between;
}

.sideBarSocialRss
{
	margin-bottom: 0;
}

.sideBarSocialRss > img
{
	margin-right: 3px;
}

.sideBarNavlinkAd
{
	display: flex;
	width: 100%;
	justify-content: center;
}

.sideBarWebButtons
{
	display: flex;

	justify-content: center;
	column-gap: 16px;
	row-gap: 16px;
	flex-wrap: wrap;

	-webkit-user-select: none;
	user-select: none;
}

.sideBarWebButtons > :is(img, a)
{
	width: 88px;
	height: 31px;
}

@keyframes topBarBgAnim
{
	0%
	{
		background-position: 0 0;
	}
	100%
	{
		background-position: -64px 64px;
	}
}

@keyframes sideBarBgAnim
{
	0%
	{
		background-position: 0 0;
	}
	100%
	{
		background-position: 64px -64px;
	}
}
