.topBar
{
	background: blue;
	border-bottom: solid 8px var(--navbar-border-color);
	transform: rotate(-10deg);
	width: 110vw;
	height: 200px;
	position: absolute;
	left: -5vw;
	top: -20vh;
}

.topBarText
{
	flex-direction: column;
}

.topBarText > p
{
	font-family: Ortland-Regular, serif;

	-webkit-user-select: none;
	user-select: none;

	margin-top: 0;
}

.topBarTextBottom
{
	font-family: PTSerif-Italic, serif;

	font-style: italic;
}

.topBarTextTop
{
	background: var(--title-background);
	background-clip: text;

	font-stretch: extra-expanded;

	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 8px var(--title-border);
}

.sideBar
{
	align-items: stretch;

	background: var(--sidebar-background);
	border-right: ridge 2px var(--navbar-border-color);

	flex-direction: column;
}

.sideBar .separatorDiv
{
	align-self: center;
}

.sideBarSection
{
}

.sideBarSection > ul:not(.fancyTreeview)
{
	margin-bottom: 0;
}

.sideBarSection a
{
	color: var(--navbar-link-color);

	text-decoration: none;
}

.sideBarSection a:visited
{
	color: var(--navbar-link-color);
}

.sideBarSection a:hover
{
	color: var(--navbar-link-color);

	text-decoration: underline;
}

.sideBarSection a:active
{
	color: var(--navbar-link-active);
}

.sideBarCopyright
{
	color: var(--thin-color);

	margin-top: 0;
	margin-bottom: 0;
}

.sideBarSocial
{
	justify-content: space-between;
}

.sideBarSocialRss
{
	margin-bottom: 0;
}

.sideBarSocialRss > img
{
	margin-right: 3px;
}

.sideBarNavlinkAd
{
	display: flex;
	width: 100%;
	justify-content: center;
}

.sideBarWebButtons
{
	display: flex;

	justify-content: center;
	column-gap: 16px;
	row-gap: 16px;
	flex-wrap: wrap;

	-webkit-user-select: none;
	user-select: none;
}

.sideBarWebButtons > :is(img, a)
{
	width: 88px;
	height: 31px;
}
