.topBar
{
	background: var(--navbar-background);

	border-bottom: ridge 2px var(--navbar-border-color);
}

.topBar > img
{
	-webkit-user-select: none;
	user-select: none;
}

.topBarText
{
	flex-direction: column;

	line-height: normal;
}

.topBarText > p
{
	font-family: PTSerif-BoldItalic, serif;
	font-style: italic;

	-webkit-user-select: none;
	user-select: none;

	margin-top: 0;
}

.topBarTextTop
{
	font-weight: bold;
}

.topBarTextBottom
{
	font-family: PTSerif-Italic, serif;

	font-style: italic;
}

.topBarTextGradient
{
	background: linear-gradient(90deg, var(--navbar-gradient-start), transparent);
}

.sideBar
{
	align-items: stretch;

	background: var(--sidebar-background);
	border-right: ridge 2px var(--navbar-border-color);

	flex-direction: column;
}

.sideBar .separatorDiv
{
	align-self: center;
}

.sideBarSection > ul:not(.fancyTreeview)
{
	margin-bottom: 0;
}

.sideBarSection a
{
	color: var(--navbar-link-color);

	text-decoration: none;
}

.sideBarSection a:visited
{
	color: var(--navbar-link-color);
}

.sideBarSection a:hover
{
	color: var(--navbar-link-color);

	text-decoration: underline;
}

.sideBarSection a:active
{
	color: var(--navbar-link-active);
}

.sideBarCopyright
{
	font-size: 0.9em;

	color: var(--thin-color);

	margin-top: 0;
	margin-bottom: 0;
}

.sideBarSocial
{
	justify-content: space-between;
}

.sideBarSocialRss
{
	margin-bottom: 0;
}

.sideBarSocialRss > img
{
	margin-right: 3px;
}

.sideBarNavlinkAd
{
	display: flex;
	width: 100%;
	justify-content: center;
}

.sideBarWebButtons
{
	display: flex;

	justify-content: center;
	column-gap: 16px;
	row-gap: 16px;
	flex-wrap: wrap;

	-webkit-user-select: none;
	user-select: none;
}

.sideBarWebButtons > :is(img, a)
{
	width: 88px;
	height: 31px;
}
