.topBar
{
	background-color: var(--navbar-background);

	border-bottom: solid 1px var(--navbar-border-color);
}

.topBar > img
{
	-webkit-user-select: none;
	user-select: none;
}

.topBarText
{
	flex-direction: column;
}

.topBarText > p
{
	font-family: Merriweather-BoldItalic, serif;

	-webkit-user-select: none;
	user-select: none;

	margin-top: 0;
}

.topBarTextTop
{
	font-weight: bold;
}

.topBarTextBottom
{
	font-family: Merriweather-RegularItalic, serif;

	font-style: italic;
}

.topBarTextGradient
{
	background: linear-gradient(90deg, var(--navbar-gradient-start), var(--navbar-background));
}

.topBarBurger
{

}

.sideBar
{
	align-items: stretch;

	background-color: var(--navbar-background);
	border-right: solid 1px var(--navbar-border-color);

	flex-direction: column;
}

.sideBarSection
{
}

.sideBarSection > ul
{
	margin-bottom: 0;
}

.sideBarCopyright
{
	color: var(--thin-color);

	margin-top: 0;
	margin-bottom: 0;
}

.sideBarSocial
{
	justify-content: space-between;
}

.sideBarSocialRss > img
{
	margin-right: 3px;
}