.socialMediaIcon
{
	-webkit-user-select: none;
	user-select: none;

	background-position: center;
	background-repeat: no-repeat;
}

/*GITHUB ICON*/
.socialMediaIcon.github {
	background-image: url("../../Resources/Social/github.svg");
}

/*TUMBLR ICON*/
.socialMediaIcon.tumblr {
	background-image: url("../../Resources/Social/tumblr.svg");
}

/*TWITTER ICON*/
.socialMediaIcon.twitter {
	background-image: url("../../Resources/Social/twitter.svg");
}

/*MASTODON ICON*/
.socialMediaIcon.mastodon {
	background-image: url("../../Resources/Social/mastodon.svg");
}

/*REDDIT ICON*/
.socialMediaIcon.reddit {
	background-image: url("../../Resources/Social/reddit.svg");
}

/*YOUTUBE ICON*/
.socialMediaIcon.youtube {
	background-image: url("../../Resources/Social/youtube.svg");
}