.socialMediaIcon
{
	-webkit-user-select: none;
	user-select: none;

	background-position: center;
	background-repeat: no-repeat;
}

/*GITHUB ICON*/
.socialMediaIcon.github {
	background-image: url("/resources/social/github.svg");
}

/*TUMBLR ICON*/
.socialMediaIcon.tumblr {
	background-image: url("/resources/social/tumblr.svg");
}

/*MASTODON ICON*/
.socialMediaIcon.mastodon {
	background-image: url("/resources/social/mastodon.svg");
}

/*REDDIT ICON*/
.socialMediaIcon.reddit {
	background-image: url("/resources/social/reddit.svg");
}

/*YOUTUBE ICON*/
.socialMediaIcon.youtube {
	background-image: url("/resources/social/youtube.svg");
}

/*ITCH ICON*/
.socialMediaIcon.itch {
	background-image: url("/resources/social/itch.svg");
}
