/*
	greatest hackjob ever made
	inspired by Geoff Chappell's website
	thanks to Kate Rose Morley https://iamkate.com/code/tree-views/
 */

.treeviewBorder
{
	border: 1px solid var(--thin-color);
}

.treeviewBorder .fancyTreeview
{
	margin-top: 0;
	margin-bottom: 0;
}

.fancyTreeview
{
	margin: 0.5em 1em;
}

.fancyTreeview, .fancyTreeview ul
{
	margin-left: 16px;
	padding: 0;

	border-left: 1px dotted var(--thin-color);
}

.fancyTreeview ul,
.fancyTreeview li
{
	margin-top: 2px;
}

.fancyTreeview li
{
	display: block;

	line-height: 1.3em;

	margin-left: 12px;
	padding: 0;
}

.fancyTreeview summary
{
	display: block;

	user-select: none;
	cursor: pointer;

	margin-left: -16px;
}

.fancyTreeview summary::marker
{
	display: none;
}

.fancyTreeview li.page::before,
.fancyTreeview summary::before
{
	content: "";

	display: inline-block;
	position: relative;

	left: -1px;

	width: 10px;
	height: 10px;

	margin-right: 6px;
}

.fancyTreeview summary::before
{
	background: url("/resources/tree/expand.svg");
}

.fancyTreeview details[open] > summary::before
{
	background: url("/resources/tree/retract.svg");
}

.fancyTreeview li.page::before
{
	margin-left: -16px;
	background: url("/resources/tree/empty.svg");
}
