:root
{
	--thin-color: gray;

	--button-border-hover: gray;
	--button-border-press: darkgray;
}

:root[data-applied-mode="light"]
{
	color-scheme: light;

	--body-background: #FFFFFF;
	--body-foreground: black;

	--navbar-background: linear-gradient(var(--body-background), #E7E7E7);
	--navbar-gradient-start: #2F3279;
	--navbar-border-color: lightgray;
	--navbar-link-color: #0000EE;
	--navbar-link-active: #FF0000;

	--sidebar-background: linear-gradient(90deg, var(--body-background), #E7E7E7);

	--link-color: #0000EE;
	--link-active: #FF0000;
	--link-visited: #551A8B;

	--header-gradient-start: #008080;

	--button-border: black;

	--separator-color: #CBCBCB;

	--warning-background-color: lightyellow;
	--warning-border-color: orange;

	--important-background-color: #F1E0FF;
	--important-border-color: mediumpurple;

	--remarks-background-color: aliceblue;
	--remarks-border-color: cornflowerblue;

	--github-icon: url("/resources/social/github.svg");
	--tumblr-icon: url("/resources/social/tumblr.svg");

	--external-link-icon: url("/resources/external-link-dark.svg");

	--menu-button-icon: url("/resources/menu.svg");
}

:root[data-applied-mode="dark"]
{
	color-scheme: dark;

	--body-background: #202020;
	--body-foreground: lightgray;

	--navbar-background: linear-gradient(var(--body-background), var(--body-background));
	--navbar-gradient-start: #6494C3;
	--navbar-border-color: dimgray;
	--navbar-link-color: #9B9BFF;
	--navbar-link-active: #FF8080;

	--sidebar-background: linear-gradient(var(--body-background), var(--body-background));

	--link-color: #9B9BFF;
	--link-active: #FF8080;
	--link-visited: #A669DE;

	--header-gradient-start: #009E9E;

	--button-border: white;

	--separator-color: #565656;

	--warning-background-color: #545428;
	--warning-border-color: orange;

	--important-background-color: #422E54;
	--important-border-color: mediumpurple;

	--remarks-background-color: #20405D;
	--remarks-border-color: cornflowerblue;

	--github-icon: url("/resources/social/github-light.svg");
	--tumblr-icon: url("/resources/social/tumblr-light.svg");

	--external-link-icon: url("/resources/external-link.svg");

	--menu-button-icon: url("/resources/menu-dark.svg");
}
