*
{
	box-sizing: border-box;
}

body
{
	margin: 50px 0 50px 0;

	display: flex;
	flex-direction: column;

	color-scheme: light;
	color: var(--body-foreground);

	background-image: var(--body-wallpaper);
	background-size: cover;

	image-rendering: pixelated;

	font-family: PTSerif, serif;
	line-height: 1.5;

	/* for my macOS pookies */
	-webkit-font-smoothing: antialiased;
}

input, button, textarea, select
{
	font: inherit;

	border-radius: 8px;
}

h1, h2, h3
{
	line-height: 1.3;
}

fieldset
{
	margin-inline-start: 0;
	margin-inline-end: 0;

	border-radius: 8px;
	border-style: solid;
}

fieldset:not(.specialFieldset)
{
	margin-bottom: 16px;
}

label
{
	display: inline-block;
	margin-right: 5px;
}

a
{
	color: var(--link-color);
}

a:visited
{
	color: var(--link-visited);
}

a:active
{
	color: var(--link-active);
}

h2
{
	font-weight: 500;
}

h1::after, h2::after
{
	display: block;
	content: '';

	margin-top: 10px;

	min-height: 4px;
	min-width: 100%;

	border-radius: 4px;

	background: linear-gradient(90deg, var(--header-gradient-start), transparent);
}

h2::after
{
	min-height: 3px;

	border-radius: 3px;
}

.fieldRow
{
	display: flex;
	align-items: center;
	column-gap: 6px;
}

[class^=fieldRow]+[class^=fieldRow]
{
	margin-top: 6px
}

.specialFieldset
{
	padding-bottom: 12px;

	border-style: solid;
	border-radius: 8px;
}

.specialFieldset > legend
{
	padding: 4px;
	border-radius: 8px;
}

.specialFieldset > legend > img
{
	display: inline;
	position: relative;

	vertical-align: middle;

	width: 22px;
	height: 22px;

	bottom: 1px;
}

.specialFieldset > legend > b
{
	position: relative;

	top: 1px;
}

.warningFieldset
{
	background-color: var(--warning-background-color);
	border-color: var(--warning-border-color);
}

.warningFieldset > legend
{
	border: 2px solid var(--warning-border-color);
	background-color: var(--warning-background-color);
}

.warningFieldset > legend > img
{
	content: url("/resources/annotations/warning.svg");
}

.importantFieldset
{
	background-color: var(--important-background-color);
	border-color: var(--important-border-color);
}

.importantFieldset > legend
{
	border: 2px solid var(--important-border-color);
	background-color: var(--important-background-color);
}

.importantFieldset > legend > img
{
	content: url("/resources/annotations/important.svg");
}

.remarksFieldset
{
	background-color: var(--remarks-background-color);
	border-color: var(--remarks-border-color);
}

.remarksFieldset > legend
{
	border: 2px solid var(--remarks-border-color);
	background-color: var(--remarks-background-color);
}

.remarksFieldset > legend > img
{
	content: url("/resources/annotations/remark.svg");
}

.dangerFieldset
{
	background-color: var(--danger-background-color);
	border-color: var(--danger-border-color);
}

.dangerFieldset > legend
{
	border: 2px solid var(--danger-border-color);
	background-color: var(--danger-background-color);
}

.dangerFieldset > legend > img
{
	content: url("/resources/annotations/danger.svg");
}

/* Style external links */
:not(.sideBarWebButtons) > a[href]:not(.socialMediaIcon):not(:where([href^="#"], [href^="/"]:not([href^="//"]), [href*="//analogfeelings.github.io"]))
{
	background-image: var(--external-link-icon);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 16px;
	background-size: 12px 12px;
}

.hidden
{
	display: none;
}

.filterDisabled
{
	image-rendering: pixelated;
}

.mainBodyDiv
{
	width: 100%;

	align-items: stretch;
	flex-grow: 1;

	column-gap: 0;
}

.bodyContent
{
	font-size: 0.9em;

	width: 100%;
	padding: 15px;

	background-color: var(--body-background);
}

.bodyContent > h1
{
	font-size: 1.5em;
}

.bodyContent > h1:first-of-type
{
	margin-top: 0;
}

.bodyContent img
{
	width: 100%;
}

.bodyContent > img
{
	border-radius: 8px;
}

.separatorDiv
{
	width: 95%;
	height: 2px;

	min-height: 2px;

	margin-top: 15px;
	margin-bottom: 15px;

	background: linear-gradient(90deg, transparent 0%, var(--separator-color) 50%, transparent 100%);
}

.bodyContent > .separatorDiv
{
	margin-top: 40px;
	margin-bottom: 40px;
}

.postInformation
{
	color: var(--thin-color);

	margin-top: -4px;
}

.postHeader
{
	margin-top: 0;
	margin-bottom: 0.5em;
}

.postHeaderInformation
{
	margin-bottom: 0.3em;
}

.postDescription
{
	margin: 0;
}

.postInformationBullet
{
	position: relative;

	bottom: 0.08em;
}

.postInformationBullet:after
{
	content: "\a";
	white-space: pre;
}
