.bodyContent
{
	font-size: 0.9em;

	padding: 25px;

	box-shadow: inset 0 4px 6px 0 rgb(0 0 0 / 13%);
}

.bodyContent > h1
{
	font-size: 1.5em;
}

.bodyContent > h1:first-of-type
{
	margin-top: 0;
}

.bodyContent img
{
	width: 100%;
}

.separatorDiv
{
	margin-top: 15px;
	margin-bottom: 15px;

	min-height: 2px;
}

.postInformation
{
	margin-top: -4px;
}

.postInformationBullet
{
	bottom: 0.08em;
}

.postInformationBullet:after
{
	content: "\a";
	white-space: pre;
}
