.topBar
{
	background: var(--navbar-background);

	border-bottom: ridge 2px var(--navbar-border-color);

	width: 100%;
	padding: 12px;

	column-gap: 0;
}

.topBar > img
{
	display: none;

	-webkit-user-select: none;
	user-select: none;
}

.topBarText
{
	height: 100%;

	line-height: normal;

	font-family: PTSerif-BoldItalic, serif;
	font-style: italic;

	margin-top: 0;
	margin-bottom: 0;

	-webkit-user-select: none;
	user-select: none;
}

.topBarTextTop
{
	font-size: 1.8em;
	font-weight: bold;
}

.topBarTextTop::after
{
	display: block;
	content: '';

	margin-top: 8px;

	min-height: 4px;
	min-width: 115%;

	border-radius: 4px;

	background: linear-gradient(90deg, var(--navbar-gradient-start), transparent);
}

.topBarTextBottom
{
	display: none;

	font-family: PTSerif-Italic, serif;
	font-style: italic;
}

.topBarBurger
{
	display: block;

	margin-right: 15px;
	margin-left: 5px;
}

.topBarBurger > button
{
	width: 50px;
	height: 50px;

	background-image: var(--menu-button-icon);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	background-size: 32px 32px;

	vertical-align: middle;

	border: 2px solid var(--button-border);
	border-radius: 8px;

	padding: 0;

	transition: all 0.5s;
}

.topBarBurger > button:hover
{
	border: 2px solid var(--button-border-hover);
}

.topBarBurger > button:active
{
	border: 2px solid var(--button-border-press);
}

.sideBar
{
	display: none;

	position: absolute;

	flex-direction: column;
	align-items: stretch;

	max-width: 292px;

	border-right: ridge 2px var(--navbar-border-color);
	border-bottom: ridge 2px var(--navbar-border-color);

	border-radius: 0 0 8px 0;

	box-shadow: 4px 4px 6px 0 rgb(0 0 0 / 13%);

	background: var(--sidebar-background);

	padding: 10px;
	padding-top: 20px;
}

.sideBar .separatorDiv
{
	align-self: center;
}

.sideBar.shown
{
	display: flex;

	z-index: 9999999;
}

.sideBarSection
{
	margin-top: 8px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 8px;
}

.sideBarSection a
{
	color: var(--navbar-link-color);

	text-decoration: none;
}

.sideBarSection a:visited
{
	color: var(--navbar-link-color);
}

.sideBarSection a:hover
{
	color: var(--navbar-link-color);

	text-decoration: underline;
}

.sideBarSection a:active
{
	color: var(--navbar-link-active);
}

.sideBarSection > ul:not(.fancyTreeview)
{
	margin-bottom: 0;

	padding-left: 25px;
}

.sideBarCopyright > p
{
	font-size: 0.9em;

	color: var(--thin-color);
}

.sideBarCopyright > p:first-child
{
	margin-top: 0;
}

.sideBarCopyright > p:last-child
{
	margin-bottom: 0;
}

.sideBarSocial
{
	width: 100%;

	justify-content: space-between;

	margin-top: 22px;
}

.sideBarSocialRss
{
	margin-bottom: 0;
}

.sideBarSocialRss > img
{
	width: 24px;
	height: 24px;

	margin-right: 3px;

	vertical-align: -0.4em;
}

.sideBarNavlinkAd
{
	display: flex;

	width: 100%;

	justify-content: center;
}

.sideBarWebButtons
{
	display: flex;

	justify-content: center;
	column-gap: 16px;
	row-gap: 16px;
	flex-wrap: wrap;

	-webkit-user-select: none;
	user-select: none;
}

.sideBarWebButtons > :is(img, a)
{
	width: 88px;
	height: 31px;
}
