.topBar
{
	padding: 12px;

	column-gap: 0;
}

.topBar > img
{
	display: none;
}

.topBarText > p
{
	margin-bottom: 8px;
}

.topBarTextTop
{
	font-size: 1.8em;
}

.topBarTextBottom
{
	display: none;
}

.topBarTextGradient
{
	min-height: 4px;
	min-width: 115%;
}

.topBarBurger
{
	display: block;

	margin-right: 15px;
	margin-left: 5px;
}

.topBarBurger > button
{
	width: 50px;
	height: 50px;

	background-image: var(--menu-button-icon);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	background-size: 32px 32px;

	vertical-align: middle;

	border: 2px solid var(--button-border);
	border-radius: 8px;

	padding: 0;

	transition: all 0.5s;
}

.topBarBurger > button:hover
{
	border: 2px solid var(--button-border-hover);
}

.topBarBurger > button:active
{
	border: 2px solid var(--button-border-press);
}

.sideBar
{
	display: none;

	position: absolute;

	max-width: 270px;
	min-width: 250px;

	border-bottom: ridge 2px var(--navbar-border-color);
	box-shadow: 4px 4px 6px 0 rgb(0 0 0 / 13%);

	padding: 10px;
	padding-top: 20px;
}

.sideBar.shown
{
	display: flex;

	z-index: 9999999;
}

.sideBarSection
{
	margin-top: 8px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 8px;
}

.sideBarSection > ul:not(.fancyTreeview)
{
	padding-left: 25px;
}

.sideBarSocial
{
	width: 100%;

	margin-top: 22px;
}

.sideBarSocialRss > img
{
	width: 24px;
	height: 24px;

	vertical-align: -0.4em;
}
