.topBar
{
	padding: 15px;

	column-gap: 0;
}

.topBar > img
{
	display: none;
}

.topBarText > p
{
	margin-bottom: 12px;
}

.topBarTextTop
{
	font-size: 1.8em;
}

.topBarTextBottom
{
	font-size: 0.65em;
}

.topBarTextGradient
{
	min-height: 4px;
	min-width: 115%;
}

.topBarBurger
{
	display: block;

	margin-right: 20px;
	margin-left: 5px;
}

.topBarBurger > button
{
	width: 48px;
	height: 48px;

	background-image: url("../../Resources/menu.svg");
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	background-size: 32px 32px;

	border: 2px solid var(--button-border);

	padding: 0;

	color: black;
}

.sideBar
{
	display: none;

	position: absolute;

	max-width: 250px;
	min-width: 220px;

	border-bottom: solid 1px var(--navbar-border-color);
	box-shadow: 4px 4px 6px 0px rgb(0 0 0 / 13%);

	font-size: 0.9em;

	padding: 10px;
}

.sideBar.shown
{
	display: flex;

	z-index: 9999999;
}

.sideBarSection
{
	margin-top: 12px;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 12px;
}

.sideBarSection > ul
{
	padding-left: 25px;
}

.sideBarCopyright
{
	font-size: 0.8em;
}

.sideBarSocial
{
	width: 100%;

	margin-top: 22px;
}

.sideBarSocialRss > img
{
	width: 24px;
	height: 24px;

	vertical-align: -0.4em;
}