.socialMediaIcon
{
	width: 32px;
	height: 32px;

	-webkit-user-select: none;
	user-select: none;

	background-size: 32px 32px;
	background-position: center;
	background-repeat: no-repeat;

	&.github
	{
		background-image: var(--github-icon);
	}

	&.mail
	{
		background-image: url("/resources/social/protonmail.svg");
	}

	&.mastodon
	{
		background-image: url("/resources/social/mastodon.svg");
	}

	&.reddit
	{
		background-image: url("/resources/social/reddit.svg");
	}

	&.youtube
	{
		background-image: url("/resources/social/youtube.svg");
	}

	&.itch
	{
		background-image: url("/resources/social/itch.svg");
	}
}
