body{
	color: #ffffff;
	font: 12px "Segoe UI", sans-serif;
	background: #00485e;
	margin: 32px;
	padding-bottom: 115px;

	color-scheme: dark;
}

h1{
	color: #e4e4e4;
	font: 28px "Segoe UI", sans-serif;
}

.box{
    width:25%;
    float:left;
	margin-right: 1%;
}

.box2{
    width:74%;
    float:left;
}

.clear{
    clear:both;
}

h1.allsolid {
    color: #e4e4e4;
	font: bold 28px "Segoe UI", sans-serif;
}

a{
	color: #ffff00;
	text-decoration: none;
}

a:hover{
	color: #00ff44;
	text-decoration: underline;
}

ul{
	color: #ffffff;
	list-style-type: disc;
	margin: 16px;
}

hr.solid {
  border-top: 1px solid;
  position: relative;
  z-index: 100;
  margin-bottom: 2.67em;
}